{% extends 'base.html' %}

{% block content %}
    <h1>HomePage Online Shop</h1>


    {% if current_user.is_admin %}

        <div class="p-3">
            <a class="btn btn-primary btn-lg" href="{{ url_for('item.add_item') }}">Create new item</a>
        </div>
    {% endif %}

    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}


    {% for item in items %}
        <div class="card my-4 mx-4" style="display:inline-block; width: 18rem">

            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name: {{ item.name }}</h5>
                <p class="card-text">Price: {{ item.price }} $</p>

                <form action="{{ url_for('item.item_details', pk=item.id) }}" method="GET">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary my-2 mx-2">Details</button>
                </form>

                {% if current_user.is_admin %}
                    <form action="{{ url_for('item.item_delete', pk=item.id) }}" method="POST">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-danger my-2 mx-2">Delete</button>
                    </form>
                {% endif %}

                <form action="{{ url_for('cart.add_cart', pk=item.id) }}" method="POST">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </form>


            </div>
        </div>
    {% endfor %}



{% endblock %}