{% extends 'base.html' %}

{% block content %}

    <div>
        <h1 class="font-weight-bold">Cart</h1>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Item name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% if session['cart'] %}
            {% for item_id, item in session['cart'].items() %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>

                    </td>
                    <td>
                        <form action="{{ url_for('cart.delete_item_from_cart', pk=item_id) }}" method="POST">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="btn btn-primary my-2 mx-2">Delete item</button>
                        </form>
{#                        <form action="{{ url_for('cart.update_item_in_cart', pk=item_id) }}" method="POST">#}
{#                            <input type="hidden" name="next" value="{{ request.path }}">#}
{#                            <button type="submit" class="btn btn-primary my-2 mx-2">Update item</button>#}
{#                        </form>#}


                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>





{% endblock %}